* {
  margin: 0;
  padding: 0%;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.item-1, .item-2, .exit-btn {
  align-items: center;
  border: none;
  font-weight: 800;
  height: 105px;
  justify-content: center;
  width: 367px;
}

.item-1 {
  align-items: center;
  background-color: #2fc18c;
  color: #001813;
  font-weight: 800;
  height: 105px;
  width: 367px;
}

.item-1:hover {
  background-color: #f2fffc;
  color: #036b52;
}

.item-2 {
  align-items: center;
  background-color: #036b52;
  color: #f2fffc;
  font-weight: 800;
  height: 105px;
  justify-content: center;
  width: 367px;
}

.item-2:hover {
  background-color: #f2fffc;
  color: #036b52;
  transition: 0.4s;
}

.item-3 {
  align-items: center;
  background-color: #036b52;
  display: flex;
  font-weight: 800;
  height: 105px;
  justify-content: center;
  width: 100%;
}

.full-name-display {
  align-items: center;
  background-color: #421981;
  color: #f2fffc;
  display: flex;
  font-weight: 800;
  height: 105px;
  justify-content: center;
  width: 359px;
}

.exit-btn {
  background-color: #056cf9;
  border-radius: 0;
  color: #f2fffc;
  font-weight: 800;
  height: 105px;
  margin: 0;
  width: 180px;
}

.exit-btn:hover {
  background-color: rgb(190, 33, 33);
}

.item-1:hover, .item-2:hover, .exit-btn:hover {
  transition: 0.2s;
}
