.card-product {
  align-items: center;
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5rem;
  width: 250px;
}

.card-product img {
  height: 10rem;
  margin-bottom: 1.5rem;
  width: 10rem;
}

.card-tag {
  background-color: #036b52;
  border-radius: 0 0 5px 5px;
  color: white;
  margin: 0;
  text-align: center;
  width: 100%;
}

.product-title {
  font-size: 1.2rem;
  margin: 0;
  padding-top: 10px;
}

.product-price {
  font-size: 1.2rem;
  margin: 0.5rem;
}

.minus-button, .plus-button {
  background-color: #036b52;
  border: 2px solid white;
  border-radius: 100%;
  color: white;
  font-size: 30px;
  margin: 15px 0;
  padding: 0;
  width: 38px;
}

.minus-button:hover, .plus-button:hover {
  background-color: white;
  color: #036b52;
  transition: 0.2s;
}

.qtt-field {
  background-color: #036b52;
  border: none;
  color: white;
  font-size: 18px;
  text-align: center;
  width: 100px;
}

.qtt-field::-webkit-inner-spin-button {
  display: none;
}

.control {
  align-items: center;
  display: flex;
  justify-content: center;
}

